/*h1 { color: green; }*/
h1 { color: rgb(57, 212, 109); }
th,td { border: dashed thick rgba(0, 0, 0, 0.541); }
th.important { color: red; }
p.sample1{border: double 10px #27279ba6;}
p.sample2{border: inset 10px #e7a20c7a;}
p.sample3{margin: 30px 30px; padding: 10px; border: medium solid #ff00ff46;}